@font-face {
  font-family: 'SegoeUI';
  src: url('SegoeUI.woff') format('woff'),
       url('SegoeUI.ttf') format('truetype'),
       url('SegoeUI.svg#SegoeUI') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'segoeui';
  src: url('segoeui.eot');
  src: url('segoeui.woff2') format('woff2'),
       url('segoeui.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
  white-space: 0;
}
body {
	font-family: 'SegoeUI';
	border: 0;
	background: #000;
	color: #DDD;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}
img {
    vertical-align: middle;
}
a, a:visited {
	color: #DDD;
	text-decoration: none;
}
#img-cover {
	/*background-size: cover;  
	background: url(<?php echo $value?>) no-repeat center;*/
	position: fixed;
	top: 0px; /*3px;*/
	bottom: 0px;/*3px;*/
	width: 50%;
	right: 0px;/*3px;*/
	padding: 18px 6px 6px 6px;/*18px;*/
}

#all-series-covers{
	justify-content: center;
	text-align: center;
    overflow: hidden;
    font-size: 0;
}

.serie-container{
	width: 47.5%;
	padding-left: 9px;
	padding-right: 9px;
}

.serie-row{
	padding: 3px;
	/*margin-top: 3px;
	margin-left: 3px;*/
	font-size: 1.1em;
	border: 1px solid rgba(0,0,0,0);
	/*font-weight: bold;*/
	position: relative;
}
.serie-container.index {
	width: auto;
}
a.link-episode{
	display: block;
}
a.serie-link{
	display: inline-block;
}
.serie-container.index .serie-row{
	/*float: left;*/
	display: inline-block;
	padding: 3px;
	/*width: 198px;
	height: 253px;*/
	position: relative;
}
.serie-container.index .serie-row .img{
	/*float: right;*/
	display: block;
	width: 210px;
	height: 264px;
	background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center center;
	opacity:0;
	/*border-radius: 3px;*/
	border: 1px solid rgba(255,255,255,0);
}
.serie-container.index .serie-row div{
	display: block;
	text-align: center;
}
.serie-container.index .serie-row .name,
.serie-container.index .serie-row .name-bg{
	position: absolute;
    text-overflow: clip;
	bottom: 0;
	right: 0px;
	left: 0px;
	min-height: 24px;
	padding-top: 6px;
	padding-bottom: 6px;
	display: none;	
	font-weight: bold;
	background-color: rgba(0,0,0,0.42);
	font-size: 15px;
    text-shadow: 1px 1px rgba(0,0,0,0.51);
}
.serie-container.index .serie-row .name-bg{
	/*-webkit-filter: blur(10px);
	filter: url('/media/blur.svg#blur');
	filter: blur(1px);*/
}
.serie-container.index .serie-row:hover .name,
.serie-container.index .serie-row:hover .name-bg{
	display: block;
}
.serie-row .favorite{
    position: absolute;
	top: 18px;
	right: 6px;
	width: 24px;
	height: 24px;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	background: url(/imgs/favorite.png) 24px 24px;
	background-size: 24px 24px;
}
.serie-row .watched{
    position: absolute;
	bottom: -22px;
	left: 3px;
	width: 36px;
	height: 36px;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	background-image: url(/imgs/watched.png);
	background-size: 36px;
}

.serie-row.title{
	padding-left: 6px;
	font-size: 1.8em;
	font-weight: bold;
	color: #3FC5E0;
	border: none;
    text-shadow: 1px 1px rgba(0,0,0,0.51);
}
.serie-row .img-episode{
	height: 99px;
	width: 158px;
	max-width: 158px;
	color: #3FC5E0;
	display: inline-block;
	vertical-align: top;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	opacity: 0;
}
.serie-row .episode-nfos-holder{
	vertical-align: top;
	line-height: 99px;
	height: 99px;
	position: absolute;
	top: 3px;
	bottom: 0;
	right: 0;
	left: 170px;
}

.serie-row .episode-nfos-holder .episode-title,
.serie-row .episode-nfos-holder .episode-desc{
/*	line-height: 49.5px;
	height: 99px;*/
	display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-shadow: 1px 1px rgba(0,0,0,0.51);
}

.serie-row .episode-nfos-holder .episode-title span{
	display: block;
	line-height: normal;
}

.serie-row .episode-nfos-holder .episode-title span.italic{
    font-style: italic;
}
.serie-row .episode-nfos-holder .episode-title{
	/*margin-top: 50%;*/
}
.serie-row .episode-nfos-holder .episode-desc{
	/*vertical-align: top;*/
}

.serie-row:hover{
	color: #3FC5E0;
	border: 1px solid rgba(255,255,255,0.15);
	background-color: rgba(63,197,224,0.15);
	/*border-radius: 3px;*/
}
/*FIX BACK ROUND*/
#serie-seasons-container .serie-row:hover{
	border-radius: 3px !important;
}

.serie-row.title:hover{
	border: none;
	background-color: transparent !important;
}
.serie-row:hover .img{
	border: 1px solid rgba(255,255,255,0.15) !important;
}
.serie-row:active{
	background-color: rgba(63,197,224,0.30);
}
/*DA NEW FIXXEESSS*/
#serie-seasons-container .serie-row{
	min-width: 501px;
}
#all-series-covers .serie-row{
	overflow: hidden;
	min-width: auto !important;
	padding: 0;
	border: none;
}
#all-series-covers .serie-row:hover .img,
#all-series-covers .serie-row .img {
	border: none !important;
	border-radius: 0 !important;	

	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	transform: scale(1,1);

	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}
#all-series-covers .serie-row:hover .img{
	/*background-size: 150% 150%;*/
	-moz-transition: all .3s !important;
	-webkit-transition: all .3s !important;
	transition: all .3s !important;
    -moz-transform: scale(1.5,1.5);
    -webkit-transform: scale(1.5,1.5);
    transform: scale(1.5,1.5);  
	border-radius: 0 !important;	
}

.serie-image{
	width: 300px;
/*	height: 300px;*/
	margin-top: 30px;
}

.header-holder,
.search-form{
	right: 0;
	left: 0;
	top: 0;
    height: 59px;
	min-width: auto !important;
	transform: inherit;
	float: none;
	display: inline-block;
    margin-bottom: 0px;
	position: fixed;
	background-color: #000;
    margin-right: 321px;/*calc(159px + 151px);*/
    z-index: 999;
    height: 59px;
    max-height: 59px;
}
/*DA-FIXES*/
.header-holder{
	margin: 0;
}
.search-form {
	margin-left: 9px;
	position: absolute;
}

/*.search-form */
input[type='text'],
input[type='password']{
    z-index: 9999;
    margin: 0;
    width: 100%;/*calc(100% - 18px);*/
    display: table-cell;
    max-width: 100%;/*calc(100% - 18px);*/
    min-width: 100%;/*calc(100% - 18px);*/
    max-height: 41px;
    height: 41px;
    box-sizing: border-box;
    position: absolute;
    margin: 9px 0;

	font-size: 1.12em;
	padding: 9px 44px 9px 9px;
    border-radius: 3px;
    border: 1px solid #c0c0c0;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.search-form #clear-search{
    z-index: 99999;
	position: absolute;
	right: 3px;
	top: 12px;
	bottom: 0;
	opacity: 0.6;
	background: url(/imgs/delete.png) center center no-repeat;
	background-size: 35px 35px;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.floating-logo1,
.floating-logo2, 
.floating-backbtn1, 
.floating-backbtn2,
.floating-title1,
.floating-next-episode{
    position: fixed;
    z-index: 999;
}

.floating-logo1{
	position: absolute;
}
.btn-rows{
	float: none;
	display: block;
	/*margin-bottom: 9px;*/
	padding: 9px 9px 9px 0;
	position: absolute;
	background-color: #000;
	right: 0;
	top: 0;
    height: 41px;
    max-height: 41px;
    margin-right: 159px;
    z-index: 999;
}

.btn-rows .splitter{
    display: table-cell;
	width: 9px;
}

.floatbtn{
	margin: 0;
    width: 33px;
    display: table-cell;
    max-width: none;
    min-width: none;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: bold;	
    padding: 9px;
    border-radius: 3px;
    border: 1px solid #c0c0c0;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    color: rgba(0,0,0,0.81);
    cursor: pointer;
    z-index: 9999;
}
.floatbtn:hover{
	background-color: #B1CDFF;
}
.floatbtn:active{
	background-color: #5C8CE2;
}
.floatbtn.selected{
    /*color: rgba(0,129,5,0.81);*/
	background-color: rgba(63,197,224,1);
}
.floatbtn.first{
	margin-right:  6px;
}
.floating-logo1,
.floating-logo2{
    height: 59px;
    width: 168px;
    background: #000 url(/imgs/thatflix.png) no-repeat center center;
    background-size: 150px 36px;
    top: 0;
    right: 0;
}
.floating-logo2{
    background: url(/imgs/thatflix.png) no-repeat center center !important;
    background-size: 150px 36px !important;
}
.floating-backbtn1, .floating-backbtn2{
    height: 64px;
    width: 64px;
    background: url(/imgs/back2.png) no-repeat center center;
    background-size: 64px 64px;
    bottom: 6px;
    right: 6px;
    cursor: pointer;
    z-index: 999;
}
.floating-backbtn2{
    bottom: 36px;
    right: auto;
    left: 6px;	
}
.floating-title1{
    top: 0;
    left: 0;
    padding: 15px;
}
.floating-title1 .title{
	font-size: 3.3em;
	text-shadow: 1px 1px #000;
	margin-bottom: 6px;
}
.floating-title1 .episode{
	font-size: 2.1em;	
	text-shadow: 1px 1px #000;
	margin-bottom: 6px;
}
.floating-title1 .nowtime{
	font-size: 2.1em;	
	text-shadow: 1px 1px #000;
}

.floating-next-episode {
	/*99-158*/
	/*display: none;*/
	padding: 6px;
	right: 12px;
	bottom: 42px;
	border-radius: 3px;
	background-color: rgba(63,197,224,0.30);
	border: 1px solid rgba(255,255,255,0.51);
	text-align: center;
}
.floating-next-episode .image{
	width: 198px;
	height: 139px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.floating-next-episode .title, 
.floating-next-episode .timeleft{
	font-size: 2.0em;
	text-shadow: 1px 1px #000;
}

div.video-js{
	height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
}
/*.serie-container.index .serie-row .img*/
.fadein{
	opacity: 255 !important;
	-moz-transition: 	all .3s, opacity 1s !important; /* Firefox 4 */
	-webkit-transition: all .3s, opacity 1s !important; /* Safari and Chrome */
	-o-transition: 		all .3s, opacity 1s !important;
	transition: 		all .3s, opacity 1s !important;
}

.ffadein{
	opacity: 255 !important;
	visibility: visible;
	-moz-transition: 	all .3s, visibility 1s, opacity 1s !important; /* Firefox 4 */
	-webkit-transition: all .3s, visibility 1s, opacity 1s !important; /* Safari and Chrome */
	-o-transition: 		all .3s, visibility 1s, opacity 1s !important;
	transition: 		all .3s, visibility 1s, opacity 1s !important;
}
.ffadeout{
	opacity: 0 !important;
	visibility: hidden;
	-moz-transition: 	all .3s, visibility 1s, opacity 1s !important; /* Firefox 4 */
	-webkit-transition: all .3s, visibility 1s, opacity 1s !important; /* Safari and Chrome */
	-o-transition: 		all .3s, visibility 1s, opacity 1s !important;
	transition: 		all .3s, visibility 1s, opacity 1s !important;
}

#serie-seasons-container-bg,
.bg-shadow,
.name-bg{
	background-size: cover;
	background-position: center center;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.33;
}
#serie-seasons-container-bg{
	-webkit-filter: blur(10px);
	filter: url('/media/blur.svg#blur');
	filter: blur(10px);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
}
.bg-shadow,
.name-bg{
	-webkit-filter: blur(21px);
	filter: url('/media/blur.svg#blur');
	filter: blur(21px);
}

#initial-screen,
.bg-shadow{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
}
#initial-screen .bg-shadow{
	background: url(/imgs/thatflix.png) center center no-repeat;
	background-size: 100%;
}

#initial-screen .ini-buttons-holder{
	display: block;
	position: absolute;
    text-align: center;
    justify-content: center;
    width: 100%;

	top: 50%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
 	/*left: 0;
	right: 0;
	text-align: center;
	justify-content: center;
	align-content: center;*/
}
#initial-screen .ini-buttons-holder #logo{
	height: 51px;
	background: url(/imgs/thatflix.png) center center no-repeat;
	background-size: 195px 51px;
	margin-bottom: -9px;
}
#initial-screen .ini-buttons-holder .ini-button{
	/*float:left;*/
	display: inline-block;
	height: 234px;
	width: 234px;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0);
	border-radius: 3px;
	/*background-color: rgba(255,0,0, 0.33);*/
	position: relative;
}
#initial-screen .ini-buttons-holder .ini-button span{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	display: block;
	margin-bottom: 6px;
}
#initial-screen .ini-buttons-holder .ini-button:hover{
	color: #3FC5E0;
	border: 1px solid rgba(255,255,255,0.15);
	background-color: rgba(63,197,224,0.15);
	border-radius: 3px;
}
#initial-screen .ini-buttons-holder .ini-button img{
	width: 201px;
	height: 201px;
	display: block;
	margin: 16.5px;
	/*position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
}
#initial-screen .ini-buttons-holder .inner-buttons-holder{
	display: inline-block;
}
/*#ibtn-series{
	background: url(/imgs/series.png) center center no-repeat;
}
#ibtn-movies{
	background: url(/imgs/movies.png) center center no-repeat;
}*/
#ibtn-series,
#ibtn-movies{
	background-size: 201px 201px;
}

#initial-screen .ini-buttons-holder .ini-button.second{
	margin-left: 0 15px;
}

#initial-screen .user-box{
	position: absolute;
	padding: 9px;
	right: 18px;
	top: 18px;
	cursor: pointer;
	border: 1px solid transparent;
}
#initial-screen .user-box:hover{
	border: 1px solid rgba(255,255,255,0.15);
	background-color: rgba(63,197,224,0.15);
	border-radius: 3px;
}
#initial-screen .user-box #user-photo{
	display: inline-block;
	border-radius: 50%;
	background-color: #2B85A8;
	width: 51px;
	height: 51px;
	vertical-align: middle;
	text-align: center;
	font-size: 2.2em;
	font-weight: bold;
	text-transform: uppercase;
}
#initial-screen .user-box #user-photo.nousr{
	background-image: url("/imgs/user.png");
	background-size: 81%;
	background-repeat: no-repeat;
	background-position: center;
}
#initial-screen .user-box #user-name {
	display: inline-block;	
}
#initial-screen .user-box #user-logout {
	padding: 3px;
	font-weight: bold;
	border: 1px solid rgba(0,0,0,0);
	text-align: center;
	font-size: 1.1em;
	cursor: pointer;
	display: none;	
	border: 1px solid rgba(255,255,255,0.06);
	background-color: rgba(63,197,224,0.06);
	margin-top: 6px;
	border-radius: 3px;
}
#initial-screen .user-box #user-logout:hover {
	border: 1px solid rgba(255,255,255,0.33);
	background-color: rgba(63,197,224,0.33);
}
#initial-screen .user-box #user-logout:active {
	border: 1px solid rgba(255,255,255,0.66);
	background-color: rgba(63,197,224,0.66);
}
#initial-screen .user-box:hover #user-logout{
	display: block;
}
#initial-screen .user-box #user-logout.forcehidden{
	display: none !important;
}

/************************************************************************/
.season-container {
	margin-top: 9px;
}
.season-container.hidden .content {
	display: none;
}
.season-container.hidden .content .link-episode .serie-row .img-episode{
	display: none;
}
.season-container .serie-row.title{
	position: relative;
	border: 1px solid rgba(255,255,255,0);
	cursor: pointer;
}
.season-container .serie-row.title .btn-collapse{
	position: relative;
	width: 33px;
	height: 33px;
	display: block;
	position: absolute;
	top: 50%;
	right: 6px;
	cursor: pointer;
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(/imgs/collapse.png);
	border: 1px solid rgba(255,255,255,0);

	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.season-container .serie-row.title:hover,
.season-container .serie-row.title:hover .btn-collapse{ /*.btn-collapse:hover{*/
	color: #FFF;
	border: 1px solid rgba(255,255,255,0.33);
	background-color: rgba(63,197,224,0.33) !important	;
	border-radius: 3px;
}
.season-container.hidden .serie-row.title .btn-collapse{
	background-image: url(/imgs/expand.png);
}
/************************************************************************/
/*********************************MOVIES*********************************/
/************************************************************************/
#img-cover.movies{
	padding: 0;
}
#img-cover.movies #serieseasons-title{
	padding: 0;
}
#img-cover.movies #serieseasons-image{
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 90%;
    /*background: url(/cacheimgs/movies/2Guns2013.jpg) no-repeat center center;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
}
#serie-seasons-container .serie-container.movies{
	padding-top: 9px;
}
#serie-seasons-container .serie-container.movies .serie-row.title{
	font-size: 2em;
}
#serie-seasons-container .serie-container.movies .serie-row.skip,
#serie-seasons-container .serie-container.movies .serie-row.skip:hover {
	border: none;
	background-color: none;
	color: #DDD;
	border: 1px solid rgba(0,0,0,0);
	background-color: rgba(0,0,0,0);
	border-radius: 0px;
	padding: 0 3px;
}
#serie-seasons-container .serie-container.movies .serie-row.skip.title{
	color: #3FC5E0;
}
#serie-seasons-container .serie-container.movies .serie-row.description.genre{
	font-style: italic;
	color: #BBB;
	font-size: 1em;
}
#serie-seasons-container .serie-container.movies .serie-row.description.btop{
	margin-top: 9px;
	border-top: 1px solid rgba(255,255,255,0.15);
	padding-top: 9px;
	margin-bottom: 18px;
}

#serie-seasons-container .serie-container.movies .link-episode .serie-row .img-episode{
	height: 66px;
	width: 66px;
	background-size: 45px;
}
#serie-seasons-container .serie-container.movies .link-episode .serie-row .episode-nfos-holder{
	height: 66px;
	left: 78px;/*calc(66px + 12px)*/;
}
#serie-seasons-container .serie-container.movies .link-episode .serie-row .episode-nfos-holder .episode-title{
	font-size: 1.2em;
	font-weight: bold;
}
/************************************************************************/
/************************************************************************/
#categories-filter-wrap{
	width: 243px;
	-moz-transition: 	all .15s ease !important;
	-webkit-transition: all .15s ease !important;
	transition: 		all .15s ease !important;
	position: fixed;
	top: 59px;
	bottom: 0;
	left: 0;
	z-index: 9999999;
}

#categories-filter{
	/*position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	left: 0;*/
	display: none;
	height: 100%;
	margin-right: 43px;
	padding: 9px 0px;
	background-color: rgba(0,0,0,0.66);
	border-right: 1px solid rgba(255,255,255,0.15);
}
#categories-filter-wrap.visi #categories-filter{
	display: block;
	background-color: rgba(0,0,0,0.81);
	border-right: 1px solid rgba(255,255,255,0.33);
}

#categories-filter .content-holder{
	overflow: auto;
	height: 100%;
	margin: 0 9px;
}

#categories-filter-wrap .btn-pop{
	z-index: 99999999;
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	width: 42px;
	height: 72px;
	border-radius: 0 3px 3px 0;
	background-color: rgba(0,0,0,0.66);
	background-image: url(/imgs/genres.png);
	background-size: 15px 60px;
	background-position: center;
	background-repeat: no-repeat;

	border-top: 1px solid rgba(255,255,255,0.15);
	border-right: 1px solid rgba(255,255,255,0.15);
	border-bottom: 1px solid rgba(255,255,255,0.15);

	-moz-transition: 	all .1s !important;
	-webkit-transition: all .1s !important;
	transition: 		all .1s !important;
}

#categories-filter-wrap .btn-pop.visi{
	background-color: rgba(0,0,0,0.81);
	border-top: 1px solid rgba(255,255,255,0.33);
	border-right: 1px solid rgba(255,255,255,0.33);
	border-bottom: 1px solid rgba(255,255,255,0.33);
}

#categories-filter .categories,
#categories-filter .category-type{
	padding: 3px;
	font-weight: bold;
	border: 1px solid rgba(0,0,0,0);
	position: relative;
	text-align: center;
	font-size: 1.1em;
	/*display: none;*/
}

#categories-filter .category-type{
	font-size: 1em;
	cursor: pointer;
}

#categories-filter .categories{
	border-bottom: 1px solid rgba(255,255,255,0.15);
	margin-bottom: 3px;
}

#categories-filter:hover .categories,
#categories-filter:hover .category-type{
	/*display: block;*/
}

#categories-filter .category-type.selected,
#categories-filter .category-type:hover{
	color: #3FC5E0;
	border-radius: 3px;
}
#categories-filter .category-type.selected{
	border: 1px solid rgba(255,255,255,0.21);
	background-color: rgba(63,197,224,0.21);
}
#categories-filter .category-type:hover{
	border: 1px solid rgba(255,255,255,0.33);
	background-color: rgba(63,197,224,0.33);
}

/************************************************************************/
/************************************************************************/
.center-stream-loading-error{
	background-color: rgba(0,0,0,0.72);
	border: 1px solid rgba(255,255,255,0.33);
	border-radius: 6px;
	padding: 42px;
	position: absolute;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 99px;
	color: #fff;
	font-size: 1.2em;
	text-align: center;
	display: none;
}

.center-stream-loading-error .floatbtn{
	width: 201px;
	min-width: 201px;
	position: absolute;
	bottom: 9px;
}
.center-stream-loading-error .text.centered{
	margin-top: 0px;
	position: absolute;
	left: 9px;
	right: 9px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.center-stream-loading-error #report-broken-link{
	right: 42px;
	bottom: 42px;
	background-color: #FF3838;
}
.center-stream-loading-error #report-broken-link:hover{
	background-color: #E41B1B;
}
.center-stream-loading-error #report-broken-link:active{
	background-color: #A71212;
}

.center-stream-loading-error #try-reload{
	bottom: 42px;
	background-color: #57BB35;
}
.center-stream-loading-error #try-reload:hover{
	background-color: #6AFF38;
}
.center-stream-loading-error #try-reload:active{
	background-color: #3C7828;
}
.center-stream-loading-error #get-back-to-list{
	bottom: 42px;
	display: none;
}
/************************************************************************/
#user-notice-information{
	font-size: 1.38em;
	padding: 9px;
	bottom: 30px;
	font-weight: bold;
	background-color: rgba(0,0,0,0.81);
}
#user-notice-information .text-holder{
	/* margin-top: 9px; */
	overflow: auto;
	position: absolute;
	top: 9px;
	left: 9px;
	right: 9px;
	bottom: 70px;
}
/************************************************************************/
/************************************************************************/
/*LOADING */
/************************************************************************/
/************************************************************************/
.loading {
	width: 66px;	
	height: 66px;
	left: 50%;
	top: 50%;
	margin-left: -33px;
	margin-top: -33px;
	position: fixed;
	background-image: url(/imgs/loading2.png);
	background-size: 100% 100%;
	-webkit-animation:spin 2s linear infinite;
	-moz-animation:spin 2s linear infinite;
	animation:spin 2s linear infinite;
}

.loading.smallloading{
    top: 93px;
    right: 6px;
    left: auto;
    width: 33px;
    height: 33px;
    background-color: rgba(0,0,0,0.72);
    padding: 3px;
    border-radius: 50%;
}
@-moz-keyframes spin { 100% { 
		-moz-transform:rotate(360deg); 
	}
}
@-webkit-keyframes spin { 100% { 
		-webkit-transform:rotate(360deg); 
	}
}

@keyframes spin { 100% {
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
		-ms-transform: rotate(360deg);
		-ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=360); /* for IE8 */
	}
}

@keyframes pushIn { 100% {
		-webkit-transform:translateX(-100%);
		transform:translateX(-100%);
	}
}

@keyframes pushOut { 100% {
		-webkit-transform:translateX(100%);
		transform:translateX(100%);
	}
}


.center-stream-loading-error .smallloading{
	top: auto;
	right: 50%;
	position: absolute;
	margin: 0;
	bottom: 42px;
	background-color: transparent;
}

#user-login{
	position: fixed;
	overflow: hidden;
	max-height: 100%;
	top: 50%;
	left: 50%;
	padding: 12px;
	bottom: auto;
	right: auto;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#user-login input[type='text'],
#user-login input[type='password']{
	position: static !important;
	display: block;
	box-sizing: none;
	margin: 9px 0;
	min-width: 291px;
	max-width: 291px;
	width: 291px;
	padding: 9px;
}

#user-login #user-login-btn{
	float: left;
}
#user-login #user-cancel-btn{
	float: right;
}
#user-login #user-cancel-btn,
#user-login #user-login-btn{
	margin-top: 9px;
}

#user-login .floatbtn{
	position: static !important;
	width: 123px;
	min-width: 123px;
}

#user-login #errors{
	font-weight: bold;
	color: #F00;
	max-width: 291px;
}
#user-login #errors.success{
	color: #00CC04;
}
#user-login .type-select {
	position: relative;
	overflow: hidden;
	padding-bottom: 9px;
	border-bottom: 1px solid rgba(255,255,255,0.21);
	margin-bottom: 9px;
}

#user-login .type-select #type-register-form{
	float: right;
}
#user-login .type-select #type-login-form{
	float: left;
}

#user-login .type-select div{
	padding: 3px;
	font-weight: bold;
	border: 1px solid rgba(0,0,0,0);
	display: inline-block;
	width: 99px;
	text-align: center;
	font-size: 1.1em;
	cursor: pointer;
	/*display: none;*/
}
#user-login .type-select div.selected,
#user-login .type-select div:hover{
	color: #3FC5E0;
	border-radius: 3px;
}
#user-login .type-select div.selected{
	border: 1px solid rgba(255,255,255,0.21);
	background-color: rgba(63,197,224,0.21);
}
#user-login .type-select div:hover{
	border: 1px solid rgba(255,255,255,0.33);
	background-color: rgba(63,197,224,0.33);
}

#player-title{
	margin-left: 99px;
}
